<form class="page page-small" (ngSubmit)="ForgetPassword()">
  <div class="page-small_header">
    <img src="/assets/images/logo-blue.png" alt="EMB Phones Login">
  </div>
  <div class="page-small_body">
    <div class="input_container">
      <label for="usrnm" class="input_label">Username</label>
      <input id="usrnm" type="text" name="username" [(ngModel)]="User.Email" class="input"/>
    </div>
    <div class="page-small_footer">
      <button class="button button--success">Reset Password</button>
    </div>
  </div>
</form>

<div class="page-small_after">
  <a routerLink="/sign-in" class="link">Login</a>
</div>

