<form class="page page-small" (ngSubmit)="submitReset()">
    <div class="page-small_header">
      <img src="/assets/images/logo-blue.png" alt="EMB Phones Login">
    </div>
    <div class="page-small_body">
      <!-- <div class="input_container">
        <label for="usrnm" class="input_label">Username</label>
        <input id="usrnm" type="text" name="username" [(ngModel)]="UserName" class="input"/>
      </div> -->
      <div class="input_container">
          <label for="Password" class="input_label">Password</label>
          <input id="Password" type="password" name="Password" [(ngModel)]="vars.NewPassword" class="input"/>
        </div>
        <div class="input_container">
            <label for="NewPassword" class="input_label">Confirm Password</label>
            <input id="NewPassword" type="password" name="NewPassword" [(ngModel)]="vars.ConfirmPassword" class="input"/>
          </div>
      <div class="page-small_footer">
        <button class="button button--success">Reset Password</button>
      </div>
    </div>
  </form>
  
  <div class="page-small_after">
    <a routerLink="/sign-in" class="link">Login</a>
  </div>
