.preferences_header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-bottom: 20px;
 }

.preferences_title {
  font-size: 14px;
  color: #2d659d;
  font-weight: 600;
  margin: 0;
}
