/* You can add global styles to this file, and also import other style files */
@import "assets/styles/general/index";
@import "assets/styles/emb-components/index";
@import "assets/styles/libs/index";

html, body {
  height: 100%;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('~/assets/fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1360px;
  }
}

.bg-main {
  background-color: #ddd;
}

.btn-emb-gray {
  font-size: 14px;
  background-color: #f3f3f3;
  font-weight: bold;
  color: #686868;
  border-radius: 4px;
  padding-left: 15px;
  padding-right: 15px;
}

/* STYLES FOR VERTICAL ALIGN MODAL TO CENTER */
.modal.fade .modal-dialog {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}

.modal-dialog.wide-modal {
  max-width: 750px;
}

/* STYLES FOR PAGINATION */
.emb-pagination .dropup .dropdown-menu {
  bottom: auto;
}

.emb-pagination li.pagination-prev a.page-link, .emb-pagination li.pagination-next a.page-link {
  height: 35px;
  margin: 0 4px;
  background: none;
  border: 0;
  border-radius: 0;
  font-size: 14px;
  color: #0a55a1;
  font-weight: bold;
}

.emb-pagination li.pagination-prev.disabled a.page-link, .emb-pagination li.pagination-next.disabled a.page-link {
  color: #8e8e8e;
}

.emb-pagination li.pagination-page a.page-link {
  background-color: #ededed;
  color: #8e8e8e;
  border-radius: 4px;
  margin: 0 4px;
  width: 35px;
  height: 35px;
  font-size: 12.5px;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.emb-pagination li.pagination-prev a.page-link:hover, .emb-pagination li.pagination-next a.page-link:hover {
  background: none;
  text-decoration: underline;
}

.emb-pagination li.pagination-prev a.page-link:focus, .emb-pagination li.pagination-next a.page-link:focus, .emb-pagination li.pagination-page a.page-link:focus {
  box-shadow: none;
}

.emb-pagination li.pagination-page.active a.page-link {
  background-color: #0a55a1;
  color: #ffffff;
}




.lds-ripple {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

.ldr-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .22);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .4s .4s;
}

.tooltip.dest-cond {
  opacity: 1;
}

.tooltip.dest-cond .tooltip-inner {
  background-color: #fff;
  border: 1px solid #0a55a1;
  border-radius: 2px;
  padding: 8px 20px;
  color: #0a55a1;
  font-weight: bold;
  text-align: left;
  line-height: 1.8em;
  pointer-events: auto;
}

.tooltip.dest-cond.bs-tooltip-top .arrow::before,
.tooltip.dest-cond.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #0a55a1;
}

.tooltip.dest-cond .tooltip-inner .checkbox_container {
  margin-bottom: 0;
}
